$background-gradient: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E...your gradient SVG data...%3C/svg%3E");

#details {
  background-color: #ffffff;
  background-image: $background-gradient;
  background-size: cover;

  .details {
    &__container {
      &__option {
        // Styles specific to .details__container__option
      }

      #option1,
      #option2,
      #option3 {
        background-size: cover;
        background-position: center;
        position: relative;
        // filter: grayscale(1);
        height: 100vh;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;

        &:before {
          content: "";
          position: absolute;
          background-color: rgba(0,0,0,0.5);
          // background-color: rgba(255,255,255,0.5);
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
        }
        &:after {
          content: "";
          position: absolute;
          // background-color: #EBCFC4;
          background-image: linear-gradient(310deg, #C4BFAE, #D1AFA2);
          opacity: 50%;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 2;
        }

        p {
          color: #000;
          z-index: 3;
        }
      }

      #option1 {
        background-image: url("../../assets/headshot-2.jpg");
      }
      #option2 {
        background-image: url("../../assets/headshot-3.jpg");
      }
      #option3 {
        background-image: url("../../assets/headshot-4.jpg");
      }
    }
  }
}
