$background-gradient: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E...your gradient SVG data...%3C/svg%3E");

#details {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(244, 238, 225, 0.8730085784313726) 100%
  );
  border-radius: 2rem;
  margin: 0 1rem;
  display: flex;
  align-items: center;

  .details {
    &__container {
      &__option {
        // Styles specific to .details__container__option
      
      }

      #option1,
      #option2,
      #option3 {
        background-size: cover;
        background-position: center top;
        box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
        height: 60vh;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
        border-radius: 1rem;
        overflow: hidden;

        p {
          color: #000;
          z-index: 3;
        }

      }

      #option1 {
        background-image: url("../../assets/headshot-2.jpg");
      }
      #option2 {
        background-image: url("../../assets/headshot-3.jpg");
      }
      #option3 {
        background-image: url("../../assets/headshot-4.jpg");
      }

      // Service Card Styles
      .service__option {
        box-shadow: inset 0 0 1px 1px hsla(0, 0%, 100%, 0.9),
          0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
        border-radius: 1rem;
        backdrop-filter: saturate(200%) blur(30px);
        background-color: #ffffffcc !important;
        z-index: 1;
        width: 90%;
        position: absolute;
        bottom: 0;
        padding-bottom: 2rem;


        @media screen and (min-width: 768px){
          display: none;
        }
      }
    }
  }
}
