// Define variables
$color-bg-variant: var(--color-bg-variant);
$color-primary-variant: var(--color-primary-variant);
$container-width-sm: var(--container-width-sm);
$transition: var(--transition);

#contact{
.contact {
  &__container {
  }

  // Form styles
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    input,
    textarea {
      width: 100%;
      padding: 1.5rem;
      border-radius: 0.5rem;
      background: transparent;
      border: 2px solid var(--color-primary-variant);
      resize: none;
      color: var(--color-white);
    }
  }
}
}
