.container__hero{
    background-image: url("../../assets/nk_hero_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 720px;
}